.navbar {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
}

.navbar-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .branding {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    right: 0;
    left: auto;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.navbar .dropdown-content a {
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: inherit;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
}


.navbar .dropdown button:hover {
    background-color: #f1f1f1;
}

.navbar .dropdown button:focus {
    outline: none;
}

.navbar .dropdown button:active {
    background-color: #e0e0e0;
}